<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.url }}{{ page.url }}"
    },
    "dateCreated": "{{ page.date  | date: '%Y-%m-%d' }}",
    "datePublished": "{{ page.date  | date: '%Y-%m-%d' }}",
    "dateModified": "{{ page.last_modified_at  | date: '%Y-%m-%d' }}",
    "url": "{{ site.url }}{{ page.url }}",
    "headline": "{{ page.title }}",
    "description": "{{ page.descriptiom }}",
    "author": {
        "@type": "Person",
        "name": "{% if page.author %}{{ page.author }}{% else %}{{ site.name }}{% endif %}",
        "url": "{{ site.url }}/about"
    },
    "articleSection": [
        "{{ page.category }}"
    ],
    "image": {
        "@type": "ImageObject",
        "url": "{{ site.url }}{{ page.image }}",
        "width": "",
        "height": ""
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{ site.name }}",
        "url": "{{ site.url }}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ site.image }}"
        },
        "sameAs": [
            "{{ site.social[0].link }}"
        ]
    }
}
</script>
