<!DOCTYPE html>
<!-- 
Copyright 2017-2018 Peter Noble - peteranoble.co.uk 
https://github.com/designerwebhosting/peteranoble.co.uk/blob/master/LICENSE
-->
<html lang="en">
  <head>{% include head.html %}{% if page.path == "index.md" %}
  <style>
    @import url({{ site.url }}/css/data.css) (min-width: 600px);
    @media only screen and (max-width : 600px) {*[id^='item']{content: none;}}
  </style>{% endif %}
  </head>
  <body id="top">
  <div id="wrapper">
    <div id="accessibility">
      <b>Accessibility links</b>
      <ul>
        <li><a href="#main">Skip to content.</a></li>
        <li><a href="#menu-bar">Skip to navigation.</a></li>
      </ul>
    </div>
    <header role="banner">{% include header.html %}
    </header>
    <nav role="navigation">{% include navigation.html %}    </nav>
    <main id="main" role="main">{{ content }}    </main>
    <aside role="complementary">{% include aside.html %}    </aside>
    <footer role="contentinfo">{% include footer.html %}  
    </footer>
  </div>
  {% include ldJson/website.html %}
  {% include ldJson/webpage.html %}
  {% include ldJson/organization.html %}    
  </body>
</html>
